<section class="e-body-wrapper pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <div class="e-card text-center">
                    <form name="f">
                        <h4 class="mb-4 e-page-title">Please enter Recover PIN
                            sent to your mobile</h4>
                        <div class="e-pin-grp row no-gutters">
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-2 e-input e-pin-grp__inp">
                                <input matInput placeholder="_">
                            </mat-form-field>
                        </div>
                        <div class="e-time-c-wrapper mt-4">
                            <div class="e-time-counter">0.45</div>
                        </div>
                        <button mat-flat-button color="primary" class="e-btn mt-2">Confirm</button>
                        <button mat-raised-button class="e-btn mt-2">Resend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
