<section class="e-body-wrapper pt-5 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <div class="e-card text-center">
                    <form name="f">
                        <div class="e-card__header mb-4 row">
                            <div class="col-2">
                                <button mat-icon-button aria-label="Back icon">
                                    <span class="material-icons">
                                        arrow_back
                                    </span>
                                </button>
                            </div>
                            <h4 class="col-8 e-page-title">Please confirm your mobile number</h4><br>
                            <h3 class="col-12"> 07X XXX XXXX</h3>
                        </div>
                        <button mat-flat-button color="primary" class="e-btn mt-2">Confirm</button>
                        <button mat-stroked-button color="warn" class="e-btn mt-2">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
