<section class="e-body-wrapper pb-5">
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-12 text-center e-page-title mt-4 mb-4">Welcome to SMS Port Management system</h3>
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <div class="e-card text-center">
                    <form name="f">
                        <h4 class="mb-4 e-page-title">Login</h4>
                        <mat-form-field appearance="outline" class="e-input mb-3">
                            <mat-label>Enter your mobile number</mat-label>
                            <input matInput placeholder="07X XXX XXXX">
                            <mat-error>Username cannot be empty</mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" class="e-input">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Placeholder" type="password">
                            <mat-icon matSuffix>visibility</mat-icon>
                            <mat-error>Password cannot be empty</mat-error>
                        </mat-form-field> -->
                        <button mat-flat-button color="primary" class="e-btn mt-4 mb-3">Send OTP</button>
                        <!-- <p class="e-body-txt">Don't have an account? <a class="e-body-txt e-body-txt--highlighted">SIGN
                                UP</a>
                        </p>
                        <a class="e-small-txt e-small-txt--highlighted">FORGOT PASSWORD</a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
