<section class="e-body-wrapper pb-5">
    <div class="container">
        <div class="row pt-4 pb-2 text-center">

        </div>
        <div class="row">
            <div class="col-12 col-md-4 order-sm-last">
              <div class="e-card text-center">
                <form name="f">
                    <h4 class="mb-4 e-page-title">Enter the mask to block</h4>
                    <mat-form-field appearance="outline" class="e-input mb-3">
                        <mat-label>Mask to block</mat-label>
                        <input matInput placeholder="Mask to block">
                        <mat-error>Username cannot be empty</mat-error>
                    </mat-form-field>

                    <button mat-flat-button color="primary" class="e-btn mt-2">Proceed</button>
                        <button mat-stroked-button color="warn" class="e-btn mt-2">Cancel</button>

                </form>
            </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="e-card e-card--no-paddings e-card--mobile-margin-invert mb-4 pb-4">
                    <h4 class="pt-4 mb-2 text-center e-page-title">Blocked Masks</h4>
                    <div class = "e-card--table">
                        <table mat-table [dataSource]="dataSource" class="">
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Mask Column -->
                            <ng-container matColumnDef="mask">
                                <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Mask </th>
                                <td mat-cell *matCellDef="let element"> {{element.mask}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Delete Mask </th>
                                <td mat-cell *matCellDef="let element" class="e-link"> <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
