<section class="e-body-wrapper pt-5 pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              <div class="e-card text-center">
                  <form name="f">
                      <div class="e-card__header mb-4 row">
                          <h4 class="col-12 e-page-title">Confirm to block</h4><br>
                          <h3 class="col-12"> *mask*</h3>
                      </div>
                      <button mat-flat-button color="primary" class="e-btn mt-2">Proceed</button>
                      <button mat-stroked-button color="warn" class="e-btn mt-2">Cancel</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
