<nav class="container-fluid e-header navbar navbar-expand-lg navbar-light bg-light">
    <div class="row e-header__inner-wrapper">
        <div class = "col-6 col-md-2">
            <a class="e-header__title">SMS Block</a>
        </div>
        <!-- <ul class="navbar-nav e-header__icon-wra col-6 col-md-2 order-sm-last d-flex justify-content-end">
            <li class="nav-item dropdown">
                <span class="e-btn-icon e-btn-icon--circle e-btn-icon--spacing-right" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="e-btn-icon__circle e-btn-icon__circle--alert">2</span>
                </span>
                <div class="e-menu e-ntf dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="e-ntf__header">
                        <span class="e-ntf__header-txt"><a>Mark all as read</a></span>
                    </div>
                    <div class="dropdown-item e-ntf__inner-wrapper e-ntf__inner-wrapper--new">

                        <div class="e-ntf__txt">
                            <div class="e-menu__sec-txt">12th June 2020 09:45pm</div>
                            <div class="e-menu__primary-txt mt-1">Your requested mask “adeona test” has been
                                approved
                            </div>
                        </div>

                    </div>
                    <div class="dropdown-item e-ntf__inner-wrapper">
                        <div class="e-ntf__txt">
                            <div class="e-menu__sec-txt">12th June 2020 09:45pm</div>
                            <div class="e-menu__primary-txt mt-1">Your requested mask “adeona test” has been
                                approved
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-item e-ntf__inner-wrapper e-ntf__inner-wrapper--new">
                        <div class="e-ntf__txt">
                            <div class="e-menu__sec-txt">12th June 2020 09:45pm</div>
                            <div class="e-menu__primary-txt mt-1">Your requested mask “adeona test” has been
                                approved
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-item e-ntf__inner-wrapper">
                        <div class="e-ntf__txt">
                            <div class="e-menu__sec-txt">12th June 2020 09:45pm</div>
                            <div class="e-menu__primary-txt mt-1">Your requested mask “adeona test” has been
                                approved
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-item e-ntf__inner-wrapper e-ntf__inner-wrapper--new">
                        <div class="e-ntf__txt">
                            <div class="e-menu__sec-txt">12th June 2020 09:45pm</div>
                            <div class="e-menu__primary-txt mt-1">Your requested mask “adeona test” has been
                                approved
                            </div>
                        </div>
                    </div>
                    <div class="e-ntf__footer">
                        <span class="e-ntf__footer-txt"><a>SEE ALL</a></span>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="e-btn-icon e-btn-icon--circle" id="navbarDropdown2" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                </span>
                <div class="e-menu e-menu-profile dropdown-menu" aria-labelledby="navbarDropdown2">
                    <div class="text-center e-menu__sec-txt">Logged in as</div>
                    <div class="text-center e-menu__primary-txt">John Doe</div>
                    <div class="dropdown-divider"></div>
                    <div class="e-menu-btn-wrapper">
                        <a class="e-body-txt e-body-txt--highlighted e-menu-btn-wrapper__btn">Settings</a>
                        <span class="e-menu-btn-wrapper__vl"></span>
                        <a class="e-body-txt e-body-txt--highlighted e-menu-btn-wrapper__btn">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto e-header-nav col-12 col-md-8">
            <li class="nav-item active">
                <button class="e-header-nav__item e-header-nav__item--active" mat-button>Campaigns</button>
            </li>
            <li class="nav-item">
                <button class="e-header-nav__item" mat-button>Wallet</button>
            </li>
            <li class="nav-item">
                <button class="e-header-nav__item" mat-button>Reports</button>
            </li>
            <li class="nav-item">
                <button class="e-header-nav__item" mat-button>Request masks</button>
            </li>
            <li class="nav-item">
                <button class="e-header-nav__item" mat-button>Account info</button>
            </li>
        </ul> -->
    </div>
</nav>
