<div class="navbar-light bg-light">
    <nav class="container">
        <div class="e-sec-header navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto e-sec-header-nav">
                <li class="nav-item active">
                    <button class="e-sec-header-nav__item e-sec-header-nav__item--active" mat-button>Search</button>
                </li>
                <li class="nav-item">
                    <button class="e-sec-header-nav__item" mat-button>Monthly Revenue report</button>
                </li>
                <li class="nav-item">
                    <button class="e-sec-header-nav__item" mat-button>Annual Revenue report</button>
                </li>
            </ul>
        </div>
    </nav>
</div>