/* Start - Common */
*:not(.material-icons){
    font-family: 'Open Sans', sans-serif;
}
html, body { height: 100%; }
body {
    margin: 0;
    /*background: #F3F5F6; */
}

.e-body-wrapper{
    min-height: 65vh;
    background: #F3F5F6;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}

.e-txt-success{
    color: #008567 !important;
}
.e-txt-pending{
    color: #F7B500 !important;
}
.e-txt-failed{
    color: #E02020 !important;
}

.e-link{
    color: #5C72FE !important;
    cursor: pointer;
}
.e-link.e-link--underline{
    text-decoration: underline;
}
.e-link.e-link--underline:hover{
    text-decoration: underline;
}

.e-align-right{
    display: flex;
    justify-content: flex-end;
}

.e-align-right-txt{
    text-align: right;
}

/* End - Coomon */
