/* Start - Header */
.e-header{
    padding: unset;
    background: #FFF;
    z-index: 99;
    box-shadow: 0 3px 8px 2px rgba(32,39,63,0.15);
}
.e-header .e-header__inner-wrapper{
    width: 100%;
    align-items: center;
}
.e-header .e-header__inner-wra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-header .e-header__left-wra{
    display: flex;
    align-items: center;
}
.e-header .e-header__icon-wra{
    flex-direction: row;
    padding-right: 0;
}
.e-header .e-header__title{
    width: 150px;
    background: #3B6BE8;
    color: #FFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.5rem;
    font-weight: 800;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-collapse{
    padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
    .e-header .e-header__title{
        width: 110px;
        justify-content: unset;
        padding-left: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        height: 52px;
    }
}

.e-header-nav{
    overflow-y: hidden;
}
.e-header-nav .e-header-nav__item{
    padding: 0 20px;
    min-width: 89px;
    height: 48px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0;
}
.e-header-nav .e-header-nav__item.e-header-nav__item--active{
    border-bottom: 2px solid #5C72FE;
    background-color: #F0F1F5;
    color: #000;
}
button.e-header-nav__item:focus{
    outline: unset !important;
}
@media screen and (max-width: 768px) {
    .e-header-nav .e-header-nav__item.e-header-nav__item--active{
        border-bottom: none;
        background-color: none;
        color: #000;
    }
    .e-header-nav .e-header-nav__item{
        font-size: 12px;
        font-weight: 400;
    }
    .e-header-nav{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 767px) {
    .e-header-nav{
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        overflow-x: auto;
        height: 40px;
        align-items: center;
        margin-left: 15px;
    }
}

.e-mh-header{
    padding: unset;
    background: #FFF;
}
.e-mh-header.e-mh-header--large{
    height: 90px;
}
.e-mh-header .e-mh-header__main{
    width: 150px;
    color: #5C72FE;
    font-size: 2.25rem;
    font-weight: 700;
}
.e-mh-nav .e-mh-nav__item{
    color: #757575;
    font-weight: 400;
    margin: 0 0.5rem;
}
/* End - Header */

.e-btn-icon{
    border-radius: 50%;
    border: 1px solid #D4D4D4;
    color: #A1A6BF;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.e-btn-icon.e-btn-icon--spacing-right{
    margin-right: 20px;
}
.e-btn-icon .e-btn-icon__circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: red;
    color: #FFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    top: 2px;
    right: 4px;
}
.e-page-title{
    color: #333333;
    font-size: 1.25rem;
    font-weight: 600;
}
.e-page-title.e-page-title--emp-less{
    font-weight: 500;
}
@media only screen and (max-width: 767px) {
    .e-page-title, .e-card-campaign-right__sec-txt{
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}
@media only screen and (max-width: 767px) {
    .e-card .e-page-title{
        padding: 0 1.2rem;
    }
}

.e-card{
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 0 0 4px 0 rgba(207,208,218,0.5), 0 5px 19px -8px rgba(55,58,98,0.35);
}
@media only screen and (max-width: 767px) {
    .e-card{
        padding: 16px 12px;
    }
}

.e-card .e-card__header{
    display: flex;
    align-items: center;
}
.e-card .e-card__header h4{
    margin-bottom: 0rem;
}
.e-card .e-card__header span.material-icons{
    cursor: pointer;
}
.e-card.e-card--no-paddings{
    padding: 0;
    padding-bottom: 11px;
}
.e-card.e-card--no-x-paddings{
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width: 768px) {
    .e-card.e-card--mobile-margin-invert{
        margin: 0 -15px;
        border-radius: unset;
    }
}

/* Start - Input Component */
.e-input{
    width: 100%;
}

.e-pin-grp .e-pin-grp__inp{
    padding: 0 0.5rem;
    text-align: center;
    height: 58px;
}
.e-pin-grp .e-pin-grp__inp .mat-input-element{
    font-size: 24px;
}
.e-pin-grp .e-pin-grp__inp .mat-form-field-outline{
    height: 58px;
}
.e-pin-grp .e-pin-grp__inp .mat-form-field-infix{
    padding: 0.5em 0 !important;
}
@media screen and (max-width: 768px) {
    .e-pin-grp .e-pin-grp__inp{
        width: 11%;
    }
}
@media screen and (max-width: 320px) {
    .e-pin-grp .e-pin-grp__inp{
        padding: 0 0.2rem;
    }
}

.e-select{
    width: 100%;
}

.e-time-inp mat-datepicker-toggle.mat-datepicker-toggle{
    color: rgba(0,0,0,.54) !important;
}

.e-f-inp{
    display: flex;
}
.e-f-inp .e-f-inp__select{
    position: absolute;
    right: 0;
    top: 4px;
    color: #5C72FE;
    opacity: 0.88;
    letter-spacing: 1.5px;
    font-size: 14px;
}

mat-form-field{
    width: 100%;
}
/* End - Input Component */

/* Start - Btn Component */
.e-btn-group.e-btn-group--center{
    display: flex;
    justify-content: center;
}
.e-btn{
    border-radius: 24px !important;
    height: 48px;
    padding: 0 28px !important;
    margin: 20px !important;
}
.e-btn--small{
    min-width: 120px !important;
}
.e-btn-stroke{
    border-radius: 24px !important;
    height: 48px;
    padding: 0 28px !important;
}
.e-btn-stroke.e-btn-stroke--colored-txt{
    color: #5C72FE;
}

.e-btn-no-outline{
    color: #6D7278;
}


.e-back-btn{
    color: #5C72FE;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.e-back-btn .e-back-btn__icon{
    margin-right: 0.5rem;
}
/* End - Btn Component */

/* Start - Footer Component */
.e-footer{
  height: 30%;
    background: #000000;
    color: #FFF;
    /* height: 157px; */
    /* position: absolute;
    bottom: 0; */
}
.e-footer .e-footer__row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.e-footer .e-footer__vl{
    height: 12px;
    border-left: 1px solid #979797;
    margin: 0 1rem;
}
.e-footer .e-caption-txt, .e-footer .e-small-txt{
    color: #D8D8D8;
}
.e-footer .e-footer__c-info-icon{
    margin: 0 1.5rem;
}

@media only screen and (max-width: 768px) {
    .e-footer .e-footer__c-info{
        display: none;
    }
}
/* End - Footer Component */

/* Start - Status Symbol */
.e-status-syb{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-status-syb--success{
    border: 3px solid #008567;
    color: #008567;
}
.e-status-syb--failure{
    border: 3px solid #E02020;
    color: #E02020;
}
.e-status-syb__icon{
    font-size: 48px;
}
.e-status-syb__stop-icon{
    font-size: 72px;
    color: #F7B500;
}
/* End - Status Symbol */

/* Start - Modal Component */
.e-modal{
    position: relative;
}
.e-modal-row-1{
    display: flex;
    justify-content: center;
}
.e-modal-footer{
    display: flex;
    justify-content: center;
}
.e-btn-modal-close{
    color: #FFF !important;
    width: 24px !important;
    height: 24px !important;
    box-shadow: none !important;
    position: absolute !important;
    right: -9px;
    top: -24px;
    display: flex !important;
    align-items: center;
}
.e-btn-modal-close.e-btn-modal-close--adj{
    top: -12px;
}
button.e-btn-modal-close.mat-primary{
    background: #000 !important;
}
.e-btn-modal-close .mat-button-wrapper{
    padding: 0 !important;
}
.e-btn-modal-close .e-btn-modal-close__icon{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-modal-body-txt{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.e-modal-title{
    font-size: 36px;
    font-weight: 600;
}

.e-input-payment-m{
    width: 60%;
}
@media only screen and (max-width: 768px) {
    .e-input-payment-m{
        width: 100%;
    }
}

.e-btn-payment{
    width: 140px;
    height: 140px;
    border-radius: 8px !important;
    margin: 0 0.5rem !important;
}
.e-btn-payment .mat-button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
.e-ez-image{
    height: 68px;
}
.e-btn-payment .e-btn-payment__icon{
    font-size: 68px;
    color: #5C72FE;
}
.e-btn-payment .e-btn-payment__txt{
    color: #2287D4;
    font-size: 14px;
    font-weight: 500;
}
.e-modal-footer-btns{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .e-btn-payment{
        width: 108px;
    }
}
/* End - Modal Component */

/* Start - input view */
.e-inp-view{
    margin: 0.5rem 0;
}
.e-inp-view .e-inp-view__lbl{
    color: #333333;
    font-size: 14px;
}
.e-inp-view .e-inp-view__val{
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    word-wrap: break-word;
}
/* End - input view */

.e-card-campaign-right{
    text-align: center;
}
.e-card-campaign-right .e-card-campaign-right__sec-txt{
    color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.e-card-campaign-right .e-card-campaign-right__primary-txt{
    color: #333333;
  font-size: 36px;
  font-weight: 600;
  display: flex;
    justify-content: center;
    align-items: center;
}
.e-card-campaign-right .e-card-campaign-right__primary-txt--colored{
    color: #008567;
}
.e-card-campaign-right .e-card-campaign-right__currency{
    color: #333333;
    font-size: 20px;
    font-weight: 600;
}

.e-body-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-body-header.e-body-header--rem-jc{
    justify-content: unset;
}

.e-menu {
    left: unset;
    top: 38px;
    right: 20px;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 rgba(207,208,218,0.5), 0 12px 20px -8px rgba(55,58,98,0.35);
    border: none;
}
.e-menu .e-menu__sec-txt{
    color: #757575;
    font-size: 12px;
}
.e-menu .e-menu__primary-txt{
    color: #333333;
    font-size: 16px;
    white-space: pre-wrap;
}
.e-menu-btn-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}
.e-menu-btn-wrapper__vl{
    height: 22px;
    border-left: 1px solid #D8D8D8;
    margin: 0 1rem;
}

.e-menu-profile{
    position: absolute !important;
    width: 276px;
}

.e-ntf{
    position: absolute !important;
    width: 524px;
    max-height: 485px;
    overflow-y: scroll;
}
.e-ntf__txt{
    width: 100%;
}
.e-ntf .e-ntf__txt .e-menu__primary-txt{
    color: #757575;
    font-weight: 500;
}
.e-ntf .e-ntf__inner-wrapper{
    padding: 0;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.5rem;
}
.e-ntf .e-ntf__inner-wrapper.e-ntf__inner-wrapper--new{
    background-color: #EEF2F9;
}
.e-ntf .e-ntf__status{
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.e-ntf .e-ntf__status.e-ntf__status--active{
    background-color: #008567;
}
.e-ntf .e-ntf__status.e-ntf__status--failed{
    background-color: #E02020;
}
.e-ntf .e-ntf__header{
    height: 2.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.25rem;
}
.e-ntf .e-ntf__header .e-ntf__header-txt{
    color: #5C72FE;
    font-size: 14px;
    font-weight: 600;
    padding-right: 1.5rem;
}
.e-ntf .e-ntf__footer{
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-ntf .e-ntf__footer .e-ntf__footer-txt{
    color: #5C72FE;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .e-ntf{
        width: 80vw;
    }
}

/* Start: Filter Section Component */
.e-filter-section{
    background: #E0E2ED;
}
.e-filter-section.e-filter-section--paddings-x{
    padding: 0 10%;
}
.e-filter-section.e-filter-section--paddings-x2{
    padding: 0 12%;
}
/* End: Filter Section Component */

.e-time-counter{
    font-size: 12px;
    font-weight: 700;
    color: #9E9E9E;
}
.e-time-c-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-cb-wrapper.e-cb-wrapper--hor-center{
    display: flex;
    justify-content: center;
}
.e-cb-wrapper .e-cb-wrapper__cb.mat-checkbox-checked .mat-checkbox-background{
    background: #5C72FE;
}

.e-main-banner{
    min-height: 65vh;
    background: linear-gradient(180deg, #E4E5E7 0%, #E7EBEB 24.66%, #E5E6E7 49.76%, #E3E7EA 74%, #DEE2E5 100%);
    display: flex;
    align-items: center;
    /* position: relative; */
    margin-bottom: 6rem;
}
.e-main-banner .e-main-banner__img{
    width: 400px;
    position: absolute;
    right: 13%;
}
.e-main-banner .e-main-banner__img-wrapper{
    display: flex;
    align-items: center;
}
.e-main-banner .e-main-banner__txt{
    z-index: 99;
}

.e-mp-bm{
    background: #5C72FE;
}
.e-mp-bm .e-mp-bm__inner-w{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: #fff;
}
.e-mp-bm .e-mp-bm__inner-w .e-mp-bm__img{
    width: 400px;
}
.e-mp-bm .e-mp-bm__txt{
    display: flex;
    align-items: center;
    height: 100%;
}
.e-mp-bm .e-mp-bm__txt h1, .e-mp-bm .e-mp-bm__txt p{
    color: #FFF;
}

.e-section-2-view .e-section-2-view__image{
    background: #EFF3FF;
    border-radius: 32px 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-section-2-view .e-section-2-view__image-left{
    background: #EFF3FF;
    border-radius: 0 32px 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-section-2-view .e-section-2-view__image img{
    width: 80% !important;
    height: 80% !important;
}
.e-section-2-view .e-section-2-view__image-left img{
    width: 80% !important;
    height: 80% !important;
}

/*--------------------------------------Fact Sheet--------------------------------------*/

/*Facts Sheet Section Content*/
.e-fs-section .e-fs-section-content {
    padding-left: 10rem;
}

/*Facts Sheet Section Image*/

/*--------------------------------------Fact Sheet--------------------------------------*/

/*--------------------------------------Structure And Management--------------------------------------*/
/*Structure Section*/
.structure-section {

}

/*Structure Section Image*/
.structure-section .structure-section-image img {

}
/*--------------------------------------Structure And Management--------------------------------------*/

.e-fb-section{
    background: #F3F5F6;
}
.e-sec-list{
    color: #757575;
    font-size: 16px;
    line-height: 40px;
}

.e-footer-b-section{
    position: relative;
    background: #F3F5F6;
    margin-bottom: 8rem;
}
.e-footer-b-section .e-footer-b-section__img{
    width: 400px;
    position: absolute;
    right: 13%;
    top: -165px;
}

.e-rl-section{
    margin-bottom: 9rem;
}

.e-ntf-card .e-ntf-card__header{
    height: 3.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.e-ntf-card .e-ntf-card__header .e-ntf-card__header-txt{
    color: #5C72FE;
    font-size: 14px;
    font-weight: 600;
    padding-right: 1.5rem;
}
.e-ntf__txt{
    width: 100%;
}
.e-ntf-card .e-ntf-card__txt .e-menu__sec-txt{
    color: #757575;
    font-size: 12px;
    font-weight: 500;
}
.e-ntf-card .e-ntf-card__txt .e-menu__primary-txt{
    color: #757575;
    font-weight: 500;
}
.e-ntf-card .e-ntf-card__inner-wrapper{
    padding: 0;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.5rem;
}
.e-ntf-card .e-ntf-card__inner-wrapper.e-ntf-card__inner-wrapper--new{
    background-color: #EEF2F9;
}
.e-ntf-card .e-ntf-card__status{
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.e-ntf-card .e-ntf-card__status.e-ntf-card__status--active{
    background-color: #008567;
}
.e-ntf-card .e-ntf-card__status.e-ntf__status--failed{
    background-color: #E02020;
}
.e-ntf-card .e-ntf-card__circle{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #D8D8D8;
}
.e-ntf-modal__sub-header-wrapper{
    border-bottom: 1px solid #E9E9E9;
}
@media only screen and (max-width: 768px) {
    .e-ntf-card__txt{
        width: 95%;
    }

}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 575px) {
    /*Br Tag Disable*/
    .e-hw-section br, .e-fs-section br{
        display: none;
    }

    /*Facts Sheet Section Content*/
    .e-fs-section .e-fs-section-content, .e-hw-section .e-hw-section-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .e-hw-section .e-hw-section-image{
        border-radius: 32px
    }

    .e-hw-section .e-hw-section__inner-w{
        flex-direction: column-reverse;
    }

    .e-home-img{
        display: none;
    }
}

.e-ntf-modal .e-ntf-modal__sub-header{
    color: #333333;
    font-size: 20px;
}
.e-ntf-modal .e-ntf-modal__time{
    color: #333333;
    font-size: 12px;
}
.e-ntf-modal .e-ntf-modal__body{
    color: #333333;
  font-size: 1rem;
}

/* Start - Secondary Header */
.e-sec-header{
    padding: unset;
    background: #FFF;
}
.e-sec-header-nav{
    overflow-y: hidden;
    width: 100%;
    flex-direction: row;
}
.e-sec-header-nav .nav-item{
    min-width: 230px;
}
@media screen and (max-width: 767px){
    .e-sec-header-nav .nav-item{
        min-width: 180px;
    }
    app-secondary-header nav{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.e-sec-header-nav .e-sec-header-nav__item{
    padding: 0 20px;
    width: 100%;
    height: 60px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0;
}
.e-sec-header-nav .e-sec-header-nav__item .mat-button-wrapper{
    margin-top: 15px;
}
.e-sec-header-nav .e-sec-header-nav__item.e-sec-header-nav__item--active{
    border-bottom: 2px solid #5C72FE;
    background-color: #F0F1F5;
    color: #000;
}
button.e-sec-header-nav__item:focus{
    outline: unset !important;
}
/* End - Secondary Header */

/* Small Devices, Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .e-hw-section br, .e-fs-section br{
        display: none;
    }

    .e-home-img{
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*Br Tag Disable*/
    .e-hw-section br, .e-fs-section br{
        display: none;
    }

    /*Facts Sheet Section Content*/
    .e-fs-section .e-fs-section-content {
        padding-left: 3rem;
    }

}

/* Large Devices, Tablets / Desktops */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*Br Tag Disable*/
    .e-hw-section br, .e-fs-section br{
        display: none;
    }

    /*Facts Sheet Section Content*/
    .e-fs-section .e-fs-section-content {
        padding-left: 3rem;
    }
}

@media only screen and (max-width: 1024px) {
    .e-card--table{
        overflow-x: auto;
    }
    .mat-table {
        overflow: auto;
      }
    .mat-row, .mat-header-row {
        min-width: 100vw;
        width: 100%;
    }
    .mat-header-cell, .mat-cell {
        min-width: 150px;
    }
    .e-uw-date-col{
        min-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .e-nav-bar-sticky{
        position: fixed;
        top: 0;
        z-index: 999;
        background: #FFF;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .e-fm-md-rl{
        display: flex;
        justify-content: flex-end;
    }
}
