/* Start - Customization Mat Components */
.mat-form-field-outline{
    background: #FFF;
    border-radius: 5px;
}
.mat-form-field-appearance-outline.mat-focused:not(.mat-form-field-invalid) .mat-form-field-outline-thick {
    color: #5C72FE !important;
}
.mat-form-field.mat-focused:not(.mat-form-field-invalid) .mat-form-field-label{
    color: #5C72FE !important;
}
.mat-focused:not(.mat-form-field-invalid) .mat-form-field-required-marker{
    color: #5C72FE !important;
}
button.mat-primary{
    background-color: #5C72FE !important;
}

table.mat-table{
    width: 100%;
}
table.mat-table td.mat-cell{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
table.mat-table th.mat-header-cell{
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 300;
}
@media screen and (max-width: 767px) { 
    th.mat-header-cell{
        width: 40% !important;
    }
}

.e-radio .mat-radio-checked .mat-radio-outer-circle{
    border-color: #5C72FE !important;
}
.e-radio .mat-radio-checked .mat-radio-inner-circle{
    background-color: #5C72FE !important;
}
@media screen and (max-width: 767px) { 
    .e-radio mat-radio-button{
        width: 50%;
    }
}

.mat-form-field-invalid .mat-icon, .mat-form-field-invalid .mat-icon-button{
    color: #f44336;
}

.mat-dialog-container{
    padding: 16px !important;
    border-radius: 8px !important;
}

.e-tab-widget .mat-tab-label{
    width: 25% !important;
    padding: 0 8px !important;
    min-width: 60px !important;
}

.mat-calendar-body-selected{
    background-color: #5C72FE !important;
}
.mat-form-field:not(.e-time-inp) .mat-datepicker-toggle-active > button.mat-icon-button{
    color: #5C72FE !important;
}
.timepicker__header, .clock-face__clock-hand{
    background-color: #5C72FE !important;
}
.timepicker-button{
    color: #5C72FE !important;
}
.clock-face__clock-hand_minute:before{
    border: 4px solid #5C72FE;
}
button.mat-icon-button:focus{
    outline: unset !important;
    border: 1px solid #5C72FE;
    border-radius: 50%;
}
button.e-btn:focus{
    outline: unset !important;
    border: 1px solid #5C72FE;
    border-radius: 24px;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    height: 100%;
}

.mat-radio-button{
    display: block !important;
}
/* @media screen and (max-width: 767px) { 
    .cdk-overlay-pane{
        position: absolute !important;
        top: 92px;
    }
} */
/* Start - Customization Mat Components */