.e-large-txt{
    font-size: 24px;
    font-weight: 600;
}

.e-body-txt{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.e-txt-weighted{
    font-weight: 600;
}
.e-body-txt.e-body-txt--highlighted{
    font-weight: 600;
    color: #5C72FE !important;
}

.e-caption-txt{
    font-size: 14px;
}

.e-small-txt{
    font-size: 12px;
}
.e-small-txt.e-small-txt--highlighted{
    color: #5C72FE !important;
}
.e-small-txt.e-small-txt--highlighted2{
    color: #3399EF !important;
}

h1.e-main-txt{
    font-size: 3rem;
    font-weight: 700;
    color: #3A444B;
}
h1.e-main-txt.e-main-txt--b{
    color: #000;
}
h2.e-secondary-header-txt{
    font-size: 2.25rem;
    font-weight: 600;
}
h2.e-sub-header{
    font-size: 2rem;
    font-weight: 400;
    color: #63717A;
}
p.e-p-txt{
    font-size: 1.5rem;
    color: #6D7278;
    font-weight: 300;
}